.edit-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .saving-conf {
    text-align: left;
  }
}

.title-input {
  background-color: transparent;
  margin-top: 20px;
  outline: none;
  border: none;
  color: #212121;
  border: 1px solid #d5d5d5;
  width: 90%;
}

.quill-container {
  margin-top: 30px;
  text-align: center;
  width: 90%;

  .ql-container.ql-snow {
    border: none;
    outline: none;
    font-size: 20px;
  }

  .ql-toolbar.ql-snow {
    border: none;
    outline: none;
    width: 100%;
  }
}
