.new-doc-container {
  background-color: rgb(227, 225, 225);
  display: flex;
  justify-content: center;

  .new-doc-inner {
    width: 70%;

    .start-doc {
      width: 150px;
      cursor: pointer;
      border: 1px solid #bcbcbc;
      border-radius: 3px;
    }

    .start-doc:hover {
      border: 1px solid #7492de;
    }

    .title {
      margin-top: 5px;
    }
  }
}

@media (max-width: 767px) {
  .new-doc-container {
    text-align: center;
  }
}
