@import url("./SCSS/Docs.scss");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Noto Sans", sans-serif;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
